/* Medi. */
.logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  /* or 160% */
  letter-spacing: -0.02em;
  color: #0a1b32;
  margin-top: 37px;
  margin-left: 80px;
}

.logo-dot {
  color: #824ff1;
}

.main-title {
  /* Stay Productive & Work Remotely */

  max-width: 495px;
  width: 100%;
  font-family: "Ramaraja", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  letter-spacing: 0.02em;
  margin-top: 280px;
  margin-left: 200px;
  color: #1b0a42;
}
.main-info {
  /* The key to work-from-home success is to create an enviroment that allows you to focus on the tasks at hand. Whether you are working from home for the first time. */

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 590px;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */
  letter-spacing: 0.02em;
  margin-top: 10px;
  margin-left: 200px;
  color: #9a9a9a;
}

.main-btn {
  /* Rectangle 169 */

  position: absolute;
  height: 64px;
  width: 152px;
  margin-top: 50px;
  margin-left: 200px;
  background-color: #824ff1;
  border-radius: 6px;

  /* Learn More */

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.02em;
  border: none;

  color: #ffffff;
}

.clouds {
  /* clouds */

  position: absolute;
  width: 821px;
  height: 509px;
  left: 785px;
  top: 226px;
}

.woman {
  /* Frame */
  position: absolute;
  width: 658px;
  height: 700px;
  left: 856px;
  top: 138px;
}

.home {
  /* Home */

  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  top: 48px;
  left: 273px;
  text-decoration: none;
  color: #1b0a42;
}

.about {
  /* About */

  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  left: 355.76px;
  top: 48px;
  text-decoration: none;

  color: #1b0a42;
}

.blog {
  /* Blog */

  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  left: 440px;
  top: 48px;
  text-decoration: none;

  color: #1b0a42;
}

.contact {
  /* Contact */

  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  left: 511px;
  top: 48px;
  text-decoration: none;

  color: #1b0a42;
}

.signIn {
  /* Sign In */

  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;
  left: 1321px;
  top: 48px;
  text-decoration: none;

  color: #1b0a42;
}

.signUp-btn {
  /* Rectangle 172 */

  position: absolute;
  width: 120px;
  height: 59.65px;
  background: #824ff1;
  border-radius: 6px;
  left: 1412.26px;
  top: 30px;
  border: none;

  /* Sign Up */

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
